<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hooya.mapper.pim.PIMPMMinioImagePathMapper">

    <select id="queryGroupCpbh" resultType="com.hooya.domain.vo.PIMPMMinioImagePathVo">
        select sku from pim_pm_minio_image_path group by sku
    </select>

    <insert id="insert" parameterType="com.hooya.domain.vo.PIMPMMinioImagePathVo" useGeneratedKeys="true" keyProperty="id">
        insert into pim_pm_minio_image_path(sku,share_path,minio_path,create_time,country,file_type,file_path)
        values(#{pimpmMinioImagePathVo.sku},#{pimpmMinioImagePathVo.sharePath},#{pimpmMinioImagePathVo.minioPath,jdbcType=VARCHAR},NOW(),#{pimpmMinioImagePathVo.country},#{pimpmMinioImagePathVo.fileType},#{pimpmMinioImagePathVo.filePath})
    </insert>

    <update id="update" parameterType="com.hooya.domain.vo.PIMPMMinioImagePathVo">
        update pim_pm_minio_image_path
        set
        file_type = #{pimpmMinioImagePathVo.fileType},
        country = #{pimpmMinioImagePathVo.country},
        file_path = #{pimpmMinioImagePathVo.filePath},
        update_time = NOW()
        where id = #{pimpmMinioImagePathVo.id}
    </update>

    <update id="updateFileGroupByCpbh">
        update pim_pm_minio_image_path
        set
        file_group = #{fileGroup}
        where sku = #{sku}
    </update>


    <select id="queryMinioPath" resultType="com.hooya.domain.vo.PIMPMMinioImagePathVo">
        SELECT * from pim_pm_minio_image_path where  sku =  #{cpbh}
    </select>


    <update id="updateImageDisableById">
        update pim_pm_minio_image_path set is_disable = #{isDisable} where id = #{id}
    </update>

    <select id="getFileTypeByCpbh" resultType="com.hooya.domain.vo.PIMPMMinioImagePathVo">
        select sku,file_type,file_path,country from pim_pm_minio_image_path
        where
        sku like concat('%', #{cpbh}, '%')
        and file_type is not null
        and file_path is not null
        group by sku,file_type,file_path,country
    </select>

    <select id="queryPictureMinioPath" resultType="com.hooya.domain.vo.PIMPMMinioImagePathVo">
        SELECT * from pim_pm_minio_image_path where  sku like concat('%', #{cpbh}, '%') and file_type = #{fileType}
    </select>

    <select id="getAllSku" resultType="java.lang.String">
        select sku from pm2_sku_content_records_part group by sku
    </select>
</mapper>