<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hooya.mapper.pim.PIMPMMinioQualityFilePathMapper">

    <insert id="insertPpQualityFile" parameterType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo" useGeneratedKeys="true" keyProperty="id">
        insert into pim_pm_minio_quality_file_path(sku,minio_path,create_time,is_del,real_name,folder_name,zip_url,zip_md5,country)
        values(#{pimpmMinioQualityFilePathVo.sku},#{pimpmMinioQualityFilePathVo.minioPath,jdbcType=VARCHAR},NOW(),0,#{pimpmMinioQualityFilePathVo.realName},#{pimpmMinioQualityFilePathVo.folderName},#{pimpmMinioQualityFilePathVo.zipUrl},#{pimpmMinioQualityFilePathVo.zipMd5},#{pimpmMinioQualityFilePathVo.country})
    </insert>

    <update id="updatePpQualityFile" parameterType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo">
        update pim_pm_minio_quality_file_path
        set
        zip_url = #{pimpmMinioQualityFilePathVo.zipUrl},
        zip_md5 = #{pimpmMinioQualityFilePathVo.zipMd5}
        where id = #{pimpmMinioQualityFilePathVo.id}
    </update>

    <select id="queryQualityMinioPath" resultType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo">
        SELECT * from pim_pm_minio_quality_file_path where sku = #{cpbh} and real_name = #{realName} and folder_name = #{folderName}
    </select>

    <select id="queryRarMd5" resultType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo">
        SELECT  * from pim_pm_minio_quality_file_path where sku = #{cpbh} and zip_url = #{downloadUrl} limit 1
    </select>


    <select id="queryByCpbh" resultType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo">
        SELECT * from pim_pm_minio_quality_file_path where sku = #{cpbh}  and folder_name = #{cpbh}
    </select>

    <select id="queryByBtwj" resultType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo">
        SELECT * from pim_pm_minio_quality_file_path where sku = #{cpbh} and folder_name = '标贴图片'
    </select>

    <select id="queryByZs" resultType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo">
        SELECT * from pim_pm_minio_quality_file_path where sku = #{cpbh} and folder_name = '证书'
    </select>

    <insert id="insertNewQualityFile" parameterType="com.hooya.domain.vo.QCMCheckPointCategoryVo" >
        insert into pim_pm_minio_quality_file_path(sku,minio_path,create_time,is_del,folder_name,country,order_code)
        values(#{qCMCheckPointCategoryVo.cpbh},#{qCMCheckPointCategoryVo.MediaPath,jdbcType=VARCHAR},NOW(),0,#{qCMCheckPointCategoryVo.Type},#{qCMCheckPointCategoryVo.Country},#{qCMCheckPointCategoryVo.OrderCode})
    </insert>

    <select id="queryQualityMinioPathNew" resultType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo">
        SELECT * from pim_pm_minio_quality_file_path where sku = #{cpbh} and minio_path = #{path} and country = #{country} and order_code=#{orderCode}
    </select>

    <select id="queryQualityImgBycpbh" resultType="com.hooya.domain.vo.PIMPMMinioQualityFilePathVo">
        SELECT *,CONCAT(folder_name,'-',order_code) as group_name from pim_pm_minio_quality_file_path where sku = #{cpbh} and folder_name in ('产品','大货','测试','摔箱','外包装')
    </select>

</mapper>